{
  "AdminUser": {
    "Email": "youremail@example.com",
    "Password": "SecurePassword123!"
  },
  "Authentication": {
    "Google": {
      "ClientId": "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com",
      "ClientSecret": "YOUR_GOOGLE_CLIENT_SECRET"
    }
  },
  "AzureFormRecognizer": {
    "Endpoint": "https://your-resource.cognitiveservices.azure.com/",
    "ApiKey": "YOUR_AZURE_API_KEY_HERE"
  }
}
