@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registar";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associa a tua conta @Model.ProviderDisplayName.</h2>
<hr />

<p id="external-login-description" class="text-info">
    Autenticaste-te com sucesso através de <strong>@Model.ProviderDisplayName</strong>.
    Por favor, introduz um endereço de email para este site abaixo e clica no botão Registar para finalizar
    o login.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Por favor introduz o teu email."/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Registar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
